{% extends "base.html" %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block menu %}
    {{ super() }}
    {% block menu_all_standings %}
        {% if type == 'all' %}
            <li class="active"><a href="/standings/all">All standings</a></li>
        {% else %}
            {{ super() }}
        {% endif %}
    {% endblock %}
    {% block menu_my_standings %}
        {% if type == 'my' %}
            <li class="active"><a href="/standings/my">My standings</a></li>
        {% else %}
            {{ super() }}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Contests standings</h1>

    <table class="table-hover" style='margin-left: 40px; width: 100%'>
        <tr>
            <th>Logo</th>
            <th>Season</th>
            <th>Competition</th>
            <th>Date</th>
            <th>External link</th>
        </tr>
        <tr>
            <td><a href="/standings/create"> <img src="/static/images/add.png" class="img-circle logo_small_photo"></a></td>
            <td><a href="/standings/create">Create new contest standings</a></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        {% for standing in standings %}
            <tr>
                <td><a href="/standings/{{standing.id}}"> <img src="{{standing.logo}}" class="img-circle logo_small_photo"></a></td>
                <td>{{standing.season}}</td>
                <td>{{standing.title}}</td>
                <td>{{standing.date}}</td>
                <td><a href="{{standing.link}}">{{standing.get_short_link()}}</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
